<section class="differentiators bg--dark bg--teal bg--gradient global-padding--15x oho-animate-sequence" id="intro{{ contentId }}">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-9">
                <div class="section-heading--amplified text-margin-reset">

                    {{#ifSet element="Heading" }}
                        <h2>

                            <span class="amplified--prefix oho-animate fade-in">{{publish element="Heading"}}</span>

                            

                        
                        
                        </h2>
                    {{/ifSet}}



                </div>
            </div>
        </div>

        <div class="global-spacing--6x differentiators--set oho-animate-sequence">