<section class="differentiators bg--dark bg--teal bg--gradient global-padding--15x oho-animate-sequence" id="intro{{ contentId }}">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-9">
                <div class="section-heading--amplified text-margin-reset">

                    {{#ifSet element="Heading" }}
                        <h2>

                            <span class="amplified--prefix oho-animate fade-in">{{publish element="Heading"}}</span>

                            
                            {{#ifSet element="Prefix" }}
                            <span class="amplified--title oho-animate fade-in">{{publish element="Prefix"}}</span>
                            {{/ifSet}}
                        
                        
                        </h2>
                    {{/ifSet}}

                    {{#ifSet element="Link - Title" }}
                        <div class="section-heading__link global-spacing--2x oho-animate fade-in">
                            {{#ifSet element="Link - Internal Link"}}
                                <a href="" title=""></a>
                                {{}}
                            {{/ifSet}}

                        </div>
                    {{/ifSet}}


                    <t4 type="content" name="Link - Title" output="selective-output" process-format="true" format="<div class=&quot;section-heading__link global-spacing--2x oho-animate fade-in&quot;>
                        <a href=&quot;<t4 type=&quot;content&quot; name=&quot;Link - Internal Link&quot; output=&quot;linkurl&quot; modifiers=&quot;nav_sections&quot; /><t4 type=&quot;content&quot; name=&quot;Link - External URL&quot; output=&quot;normal&quot; />&quot; title=&quot;Visit <t4 type=&quot;content&quot; name=&quot;Link - Title&quot; output=&quot;normal&quot; modifiers=&quot;striptags,htmlentities&quot; />&quot;><t4 type=&quot;content&quot; name=&quot;Link - Title&quot; output=&quot;normal&quot; modifiers=&quot;striptags,htmlentities&quot; /></a>
                    </div>" />
                </div>
            </div>
        </div>

        <div class="global-spacing--6x differentiators--set oho-animate-sequence">